@import 'font.css'

ubuntu = 'Ubuntu'

.btn, button, input, :focus
	outline none !important
	box-shadow none !important
	
.center
	display flex
	justify-content center
	align-items center

.lg
	@media screen and (max-width 991px)	
		display none
.md
	@media screen and (min-width 992px)
		display none


html, body
	overflow-x hidden !important
	position relative
	font-family ubuntu
	padding-right 0 !important


#header
	background #a61d31
	@media screen and (max-width 991px)
		background #fff
		border-top 1.5px solid #a61d31
	.navbar-toggler
		display none	
	.navbar-nav
		.nav-link
			padding-right 14px !important
			padding-left 14px !important
			color #fff
			transition .3s ease
			&:hover
				color main
				transition .3s ease
		@media screen and (max-width 1200px)
			.nav-link
				padding-right 7px !important
				padding-left 7px !important
		@media screen and (max-width 991px)
			flex-direction row
			justify-content center
			margin 15px auto	
			.nav-link
				color #000
				&:hover
					color #a61d31
		@media screen and (max-width 768px)
			flex-direction column
					
	.nav-contact
		order 2
		color #fff
		p
			font-weight bold
			margin-bottom 0
			font-size 20px
		span img
			margin-right 10px	
		a
			color #fff
			text-decoration underline
			font-weight 300
			font-size 16px
			transition .3s ease	
			&:hover
				text-decoration none
				transition .3s ease	
		@media screen and (max-width 1200px)
			p
				font-size 15px
			a
				font-size 13px
		@media screen and (max-width 991px)
			position absolute
			top 8px
			right 0
			margin-right 100px
			p
				font-size 18px
				color #000
			a
				color #000
				text-decoration none !important	
		@media screen and (max-width 480px)
			display none

	.nav-item
		.nav-contact
			display none
			@media screen and (max-width 480px)
				display block
				position relative
				top unset
				right unset
				margin-top 15px
				padding-left 7px

	.lang
		position absolute
		right 20px
		top 20px
		opacity 0.5
		transition 0.3s ease
		&:hover 
			opacity 1
			transition 0.3s ease
		@media screen and (max-width 1100px)
			display none
			
	.lang-sm
		position absolute
		right 20px
		top 20px
		transition 0.3s ease
		display none
		&:hover 
			opacity 1
			transition 0.3s ease
		@media screen and (max-width 992px)
			display block

#main
	margin 113px 0
	.center
		align-items flex-start
		flex-direction column
		@media screen and (max-width 768px)
			margin-bottom 80px
	.result
		font-size 18px
		font-weight 500
		line-height 21px
		color #bdbdbd
	.level
		font-size 48px
		font-weight 500
		line-height 55px
		margin-bottom 25px
	.info
		font-size 16px
		line-height 25px
		font-weight 300
		margin-bottom 30px
	.back-to-main
		font-size 14px
		line-height 25px
		font-weight 500
		color #a61d31
		.fa
			margin-right 17px
			color #a61d31
	.graduate
		margin 0 auto		


// Map
#map
	background rgba(#000, 0.2)

// Footer
footer
	background #a61d31
	padding 15px 0
	h5
		font-size 14px
		color #fff
		text-align center 

