#rocket
	.triangle
		top 112px
		left -97px
		transform rotate(154deg)
	@media screen and (max-width 1200px)
		.triangle
			top 140px	
			left -105px
			transform rotate(148deg)
	@media screen and (max-width 992px)
		.triangle
			top 168px	
			left -89px
			transform rotate(148deg)		
	@media screen and (max-width 840px)
		.triangle
			top 183px	
			left -79px
	@media screen and (max-width 700px)
		.triangle
			top 180px	
			left -69px
	@media screen and (max-width 576px)
		.triangle
			top unset
			left 7%
			bottom -75px
			transform rotate(90deg)
			z-index 10
	@media screen and (max-width 420px)								
		.triangle
			left 6%
			
#ielts
	.triangle
		bottom -25px
		left 12px
		transform rotate(121deg)
	@media screen and (max-width 1200px)
		.triangle
			bottom -30px	
			left 0px
			transform rotate(121deg)
	@media screen and (max-width 992px)
		.triangle
			bottom -80px	
			left 30px
			transform rotate(121deg)			
	@media screen and (max-width 840px)
		.triangle
			left 25px
			bottom -77px
	@media screen and (max-width 701px)
		.triangle
			bottom -53px		
			left 1px
	@media screen and (max-width 576px)
		.triangle
			left 27%
			bottom -75px
			top unset
			transform rotate(90deg)
			z-index 10		
#it
	.triangle
		bottom -62px
		left 46%
		transform rotate(90deg)
	@media screen and (max-width 1200px)
		.triangle
			bottom -60px
	@media screen and (max-width 992px)
		.triangle
			bottom -125px			
			left 47%
			transform rotate(91deg)
	@media screen and (max-width 840px)
		.triangle
			bottom -112px			
			transform rotate(90deg)
	@media screen and (max-width 768px)
		.triangle
			bottom -110px
	@media screen and (max-width 700px)
		.triangle
			bottom -94px
	@media screen and (max-width 576px)
		.triangle
			bottom -75px
			z-index 10
					
#other-lang
	.triangle
		bottom -15px
		right -6px
		transform rotate(55deg)
	@media screen and (max-width 1200px)
		.triangle
			bottom -24px	
			right -14px
			transform rotate(55deg)
	@media screen and (max-width 992px)
		.triangle
			bottom -63px	
			right 0px
	@media screen and (max-width 840px)
		.triangle
			bottom -63px	
			right -2px
	@media screen and (max-width 700px)
		.triangle
			bottom -48px	
			right -10px
	@media screen and (max-width 576px)
		.triangle
			top unset
			right 26%
			bottom -75px
			transform rotate(90deg)
			z-index 10											
#plus
	.triangle
		bottom 91px
		right -98px
		transform rotate(28deg)
	@media screen and (max-width 1200px)
		.triangle
			bottom 69px	
			right -112px
			transform rotate(28deg)
	@media screen and (max-width 992px)
		.triangle
			bottom 40px	
			right -94px	
	@media screen and (max-width 840px)
		.triangle
			bottom 30px	
			right -88px
	@media screen and (max-width 700px)
		.triangle
			bottom 31px	
			right -78px
	@media screen and (max-width 576px)
		.triangle
			top unset
			right 7%
			bottom -75px
			transform rotate(90deg)
			z-index 10
	@media screen and (max-width 420px)
		.triangle
			right 6%
			

.tab
	#one
		transform translate(-28px, -102px)		
	#two
		transform translate(-30px, 20px)
	#three
		transform translate(0, 65px)
	#four
		transform translate(50px, 20px)
	#five
		transform translate(30px, -112px)
	@media screen and (max-width 1200px)
		#one
			transform translate(-50px, -80px)
		#five
			transform translate(50px, -90px)	
	@media screen and (max-width 991px)
		#one
			transform translate(-9px, -37px)
		#two
			transform translate(-30px, 85px)
		#three
			transform translate(0px, 145px)
		#four
			transform translate(67px, 78px)
		#five
			transform translate(25px, -50px)
	@media screen and (max-width 820px)
		#two
			transform translate(-45px, 70px)	
		#three
			transform translate(0px, 130px)
		#four
			transform translate(55px, 70px)					
	@media screen and (max-width 700px)
		#two
			transform translate(-45px, 50px)		
		#three
			transform translate(0px, 105px)
		#four
			transform translate(55px, 45px)
	@media screen and (max-width 576px)
		#one, #two, #three, #four, #five
			transform none
			
			
	