<!DOCTYPE html>
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
			meta(name="author" content="")
			meta(name="description" content="Some text")
			link(rel="icon" href="src/img/icons/favicon.png")
			//- CSS
			link(rel="stylesheet" href="src/css/libs.min.css")
			link(rel="stylesheet" href="src/css/test.css")
			title Test
		body

			#test
				.container
					h2
						| Let's define your level!
						br
						span English
					p.test-info
						| This test includes 10 questions
					.question
						p
							span 1
							| Adrian ... to go to the cinema today.
						div
							label.label want
								input(type="radio" checked="checked" name="radio")
								span.checkmark
						div
							label.label wants
								input(type="radio" checked="checked" name="radio")
								span.checkmark
						div
							label.label go
								input(type="radio" checked="checked" name="radio")
								span.checkmark
					.question
						p
							span 2
							| Continue the sentence below: If I learn english, ...
						div
							label.label 
								| I will broad my horizons
								input(type="radio" checked="checked" name="radio")
								span.checkmark
						div
							label.label
								| I broad my horizons
								input(type="radio" checked="checked" name="radio")
								span.checkmark
						div
							label.label
								| I am broading my horizons
								input(type="radio" checked="checked" name="radio")
								span.checkmark
					.question
						p
							span 3
							| Adrian ... to go to the cinema today.
						div
							label.label want
								input(type="radio" checked="checked" name="radio")
								span.checkmark
						div
							label.label wants
								input(type="radio" checked="checked" name="radio")
								span.checkmark
						div
							label.label go
								input(type="radio" checked="checked" name="radio")
								span.checkmark

					a(href="congrat.html").get-result.btn Get my result!		